.review-post-section {
  background-color: var(--bg-clr-gray);
  .review-post-side {
    h2 {
      padding-bottom: 35px;
      @media screen and (min-width: 992px) {
        padding-bottom: 70px;
      }
    }
    .review-post-side__article-post-section {
      .article-post {
        &:nth-of-type(1) {
          .article-post__image {
            background-image: url("./../images/article-section/article-img-01.png");
          }
        }
        &:nth-of-type(2) {
          .article-post__image {
            background-image: url("./../images/fields-section/enterprise-img.png");
          }
        }
        &:nth-of-type(3) {
          .article-post__image {
            background-image: url("./../images/article-section/article-img-03.png");
          }
        }
        .article-post__image {
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
        }
      }
    }
  }
}
